<div class="top-row ps-3 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorTextDiff</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/character-highlight">
                <span class="bi bi-highlighter" aria-hidden="true"></span> Characters
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/async">
                <span class="bi bi-cloud-download-fill" aria-hidden="true"></span> Async
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : string.Empty;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
