<div class="top-row ps-3 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorTextDiff Demo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-fill" aria-hidden="true"></span> Basic
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ignore-case">
                <span class="bi bi-type" aria-hidden="true"></span> IgnoreCase
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ignore-whitespace">
                <span class="bi bi-text-indent-left" aria-hidden="true"></span> IgnoreWhitespace
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/async">
                <span class="bi bi-cloud-download-fill" aria-hidden="true"></span> Async
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : string.Empty;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
