@using DiffPlex.DiffBuilder.Model;

@if (!string.IsNullOrEmpty(Model.Text))
{
    string spaceValue = "\u00B7";
    string tabValue = "\u00B7\u00B7";


    if (Model.Type == ChangeType.Deleted || Model.Type == ChangeType.Inserted || Model.Type == ChangeType.Unchanged)
    {
        if (ShowWhiteSpace)
        {
            @(Model.Text.Replace(" ", spaceValue).Replace("\t", tabValue))
        }
        else
        {
            @(Model.Text)
        }
    }
    else if (Model.Type == ChangeType.Modified)
    {
        foreach (var character in Model.SubPieces)
        {
            if (character.Type == ChangeType.Imaginary) { continue; }

            <span style="white-space: pre-wrap;" class="@character.Type.ToString().ToLower()-character">@(ShowWhiteSpace ? character.Text.Replace(" ", spaceValue.ToString()) : character.Text)</span>
        }
    }

}


@code {
    [CascadingParameter(Name = "ShowWhiteSpace")]
    bool ShowWhiteSpace { get; set; }

    [Parameter] public DiffPiece Model { get; set; }
}