@using DiffPlex.DiffBuilder;
@using DiffPlex.DiffBuilder.Model;
@inject IJSRuntime JSRuntime
@inject ISideBySideDiffBuilder sideBySide


<div class="diff-container">
    <div class="diff-header">
        @Header((Additions, Deletions, Modifications))
        ( @paneHeight )
    </div>
    <CascadingValue Value="ShowWhiteSpace" Name="ShowWhiteSpace">
        <CascadingValue Value="CollapseContent" Name="CollapseContent">
            <div class="diff-panes" @ref="pane" style="@(CollapseContent ? $"max-height: {MaxHeight}px; overflow: hidden;" : "max-height: auto; overflow: auto;")">
                <div class="diff-pane">
                    <TextDiffPane Model="diff.OldText" PanePosition="@PanePosition.Left"></TextDiffPane>
                </div>
                <div class="diff-pane">
                    <TextDiffPane Model="diff.NewText" PanePosition="@PanePosition.Right"></TextDiffPane>
                </div>
            </div>
        </CascadingValue>
    </CascadingValue>
    @if (CollapseContent && paneHeight >= MaxHeight)
    {
        <p class="diff-expand-notice">...</p>
    }
</div>




@code {

    [Parameter]
    public bool ShowWhiteSpace { get; set; }

    [Parameter]
    public int MaxHeight { get; set; } = 300;

    [Parameter]
    public bool CollapseContent { get; set; }

    /// <summary>
    /// The text before any changes.
    /// </summary>
    [Parameter] public string OldText { get; set; }

    /// <summary>
    /// The text after any changes.
    /// </summary>
    [Parameter] public string NewText { get; set; }
    [Parameter] public RenderFragment<(int Additions, int Deletions, int Modifications)> Header { get; set; }

    private SideBySideDiffModel diff;
    private ElementReference pane;
    private int paneHeight;

    private int Additions
    {
        get
        {
            return diff.NewText.Lines.Count(x => x.Type == ChangeType.Inserted);
        }
    }

    private int Modifications
    {
        get
        {
            return diff.NewText.Lines.Count(x => x.Type == ChangeType.Modified);
        }
    }

    private int Deletions
    {
        get
        {
            return diff.NewText.Lines.Count(x => x.Type == ChangeType.Deleted);
        }
    }

    /// <summary>
    /// When parameters set update the component.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnParametersSetAsync()
    {
        diff = sideBySide.BuildDiffModel(OldText, NewText);

        if(pane.Id != null)
        {
            paneHeight = await JSRuntime.InvokeAsync<int>("blazorTextDiff.getHeight", pane);
            Console.WriteLine(paneHeight);
        }
    }

    /// <summary>
    /// When loaded try to diff if text available.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        if (pane.Id != null)
        {
            paneHeight = await JSRuntime.InvokeAsync<int>("blazorTextDiff.getHeight", pane);
            Console.WriteLine(paneHeight);
        }
    }
}
