@using DiffPlex.DiffBuilder.Model;

<div class="diff-pane-@PanePosition.ToString().ToLower()">
    <table class="diff">
        @foreach (var diffLine in Model.Lines)
        {
            <tr>
                <td class="line-number @diffLine.Type.ToString().ToLower()">
                    @((MarkupString)(diffLine.Position.HasValue ? diffLine.Position.ToString() : "&nbsp;"))
                </td>
                <td class="line @diffLine.Type.ToString().ToLower()-line">
                    <span class="line-text">
                        <TextDiffLine Model="diffLine"></TextDiffLine>
                    </span>
                </td>
            </tr>
        }
    </table>
</div>


@code {
    [Parameter] public DiffPaneModel Model { get; set; }

    [Parameter] public PanePosition PanePosition { get; set; }
}